.Editor{
    height: 100%;
    position: absolute;
    transition: 350ms all;
    background-color:#f0f0f0;
    overflow-y: auto;
    border-left: 1px solid #bbb;
}

/* Tooltip container */
.tooltip {
    position: relative;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    background-color: #f39c12;
    color: #000;
    text-align: center;
    padding: 5px 10px;
    border-radius: 6px;
    border:1px solid black;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 8px;
    left: 60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 200ms;
    

    box-shadow: 0px 10px 25px -1px rgba(0,0,0,0.4);    
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #000 transparent transparent transparent;

  box-shadow: 0px 10px 25px -1px rgba(0,0,0,0.4);
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}