@font-face {
  font-family: din;
  font-weight: 300;
  src: url("assets/fonts/DINNextLTPro-LightCondensed.otf") format("opentype");
}

@font-face {
  font-family: dinMedium;
  font-weight: 500;
  src: url("assets/fonts/DINNextLTPro-MediumCond.otf") format("opentype");
}

@font-face {
  font-family: dinRegular;
  font-weight: 500;
  src: url("assets/fonts/DINNextLTPro-Regular.otf") format("opentype");
}

@font-face {
  font-family: dinBold;
  font-weight: "bold";
  src: url("assets/fonts/DINNextLTPro-Bold.otf") format("opentype");
}




html, body {
  margin: 0;
  padding: 0;
  font-family: din;
  height: 100%;
  overflow: hidden;
}
button:focus {outline:0 !important;}

#root{
  font-family: din;
  height: 100%;
  display: flex;
}

.Row{
  display: flex;
  flex-direction: row;
}

button{
  border-width: 0px !important;
}

.App {
  background-image: url('assets/gridBG.png');
  display: flex;
  flex:1;
  align-items: center;
  justify-content:center;
  flex-direction: column;
}

.Form{
  width:350px;
  background-color: white;
  display: flex;
  border-radius: 5px;
  -webkit-box-shadow: 0px 10px 25px -1px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 10px 25px -1px rgba(0,0,0,0.1);
  box-shadow: 0px 10px 25px -1px rgba(0,0,0,0.1);
  border: 1px solid rgba(0, 0, 0, 0.10);
  justify-content:center;
  flex-direction: column;
  padding:0px 10px 10px 10px;
}

.Form h3{
  text-align: center;
}

.ActionButton{
  display: inline-flex;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #2980b9;
  color: white;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 5px;
}

.CancelButton{
  display: inline-flex;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #7f8c8d;
  color: white;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 5px;
}

.ActionButton:hover{
  -webkit-box-shadow: 0px 10px 10px -1px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 10px 10px -1px rgba(0,0,0,0.1);
  box-shadow: 0px 10px 10px -1px rgba(0,0,0,0.1);
}

*:focus {outline:0 !important;}

.DEBUG{
  position: absolute;
  top:40px;
  background-color: orangered;
  align-self: flex-start;
}


.Container{
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  background-repeat: repeat;
  overflow: hidden;
  background-image: url('assets/gridBG.png');
  
}

.InfiniteHolder{
  flex: 1 1 0%;
  overflow: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}

.ComponentsBlocks{
  position: relative;
  width: 100%;
  height: 100%;
  
}


@keyframes dash{
  to{
    stroke-dashoffset: 50;
  }
}